#mainpage, #listpage, #moodheader, #graphpage {
    margin: auto;
    background: #C0C0C0;
}

.ui-bar-inherit {
	background: #C0C0C0 !important;
	border-color: #C0C0C0 !important;
}

.label {
	font-family: Garamond;
	font-size: 28px;
	text-shadow: none;
}

.whylabel {
	margin-bottom: -10px;
}

#slider {
	display:none;
}

#moods, #moodheader {
	border-style: solid;
	width: 100%;
}

td, th {
	border-style: solid;
}
.mood-col {
	min-width: 75px;
	width: 75px;
	max-width: 75px;
}
.when-col {
	min-width: 90px;
	width: 90px;
	max-width: 90px;
}

.ui-slider-track {
	margin-left: 0px;
	margin-right: 0px;
}
.emo {
	width: 100%;
	height: 100%;
}
.mini-emo {
	width: 50px;
	height: 50px;
}
.worst-mood {
	background-color: #C0E0C0;
}
.bad-mood {
	background-color: #C0D0C0;
}
.ok-mood {
	background-color: #C0C0C0;
}
.good-mood {
	background-color: #D0C0C0;
}
.best-mood {
	background-color: #E0C0C0;
}

#overlay { 
	background-color: #fff;
    background-color: rgba(255,255,255,0.85);
	width: 75%;
	min-width: 400px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 25px;
}

.center {
	text-align: center;
}

.logo {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 25px;
}

/* reach in to btn to set width and center */
.ui-input-btn {
	width: 150px !important;
	margin-left: auto;
	margin-right: auto;
}

.small-text {
	font-size: 9pt;
	float: right;
	margin-top: -15pt;
	margin-bottom: 0pt;
}
/* From Parse boilerplate: */
/*
body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}
*/