#mainpage, #listpage, #moodheader, #graphpage {
    margin: auto;
    background: #C0C0C0;
}

.ui-bar-inherit {
	background: #C0C0C0 !important;
	border-color: #C0C0C0 !important;
}

.label {
	font-family: Garamond;
	font-size: 28px;
	text-shadow: none;
}

.whylabel {
	margin-bottom: -10px;
}

#slider {
	display:none;
}

#moods, #moodheader {
	width: 100%;
	border-spacing: 0px;
	text-shadow: none;
}

#tablediv {
	outline: 2px solid black;
}
td, th {
	outline: 1px solid black;
	padding-left: 5px;
}

.mood-col {
	min-width: 75px;
	width: 75px;
	max-width: 75px;
}
.when-col {
	min-width: 90px;
	width: 90px;
	max-width: 90px;
}

.ui-slider-track {
	margin-left: 0px;
	margin-right: 0px;
}
.emo {
	width: 100%;
	height: 100%;
}
.mini-emo {
	width: 50px;
	height: 50px;
}
.worst-mood {
	background-color: #C0E0C0;
}
.bad-mood {
	background-color: #C0D0C0;
}
.ok-mood {
	background-color: #C0C0C0;
}
.good-mood {
	background-color: #D0C0C0;
}
.best-mood {
	background-color: #E0C0C0;
}

#overlay { 
	background-color: #fff;
    background-color: rgba(255,255,255,0.85);
	width: 75%;
	min-width: 290px;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding-bottom: 25px;
}

.center {
	text-align: center;
}

.logo {
	display: block;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
}
.slider-container .ui-slider-switch { 
	width: 9em;
	display: block;
	margin-left: auto; 
	margin-right: auto;
	margin-top: 0px;
}

.small-text {
	font-size: 9pt;
	float: right;
	margin-top: -15pt;
	margin-bottom: 0pt;
}

#graphcontainer {
	width: 100%;
	height: 70%;
	padding-bottom: 50px;
	position: absolute;
}

.aboutbtn {
	float: right;
/*	data-iconpos: notext; */
}

#popupform {
	max-width: 350px;
}

/*
#publicpost {
	float: left;
	width: 200px;
}

#launchlogin {
	margin-left: 250px;
	width: 200px;
}
*/
.small-text {
	padding-top: 10px;
	padding-bottom: 15px;
}

#postbuttoncontainer {
	width: 250px !important;
	margin-left: 50%;
	padding-bottom: 42px;
}

/* copied split button from here: 
   https://github.com/smashingboxes/splitdropbutton/blob/master/jquery.splitdropbutton.js
   Some pretty messy CSS to get it to align like I needed */
.split-btn .spb-toggle {
	font-size: 24px;
	background: #f6f6f6;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-bottom: 40px;
}
.spb-primary {
	width: 250px  !important;
	border-top-left-radius: 5px;
}
.spb-secondary {
	width: 250px  !important;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.spb-toggle {
	margin-left: 1px;
}
.split-btn a {
	padding:  10px;
	color: black;
	text-align: center;
	text-decoration: none;
}
.spb-primary a {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	background: #f6f6f6;
}
.spb-secondary a {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #f6f6f6;
}
.split-btn a:hover {
    background: #e8e8e8;
	color: #000;
}

// it's important to style the links with .split-btn a instead of '.spb-primary a' or
// '.spb-secondary a' because those divs have widths based on the length of '.split-btn a'
